.meeting-container {
  flex-grow: 1;
}

/* media-breakpoint-up(md) */
@media (min-width: 768px) {
  .meeting-avl-button {
    min-width: 10em;
  }
}

/* media-breakpoint-up(lg) */
@media (min-width: 992px) {
  .meeting-avl-button {
    min-width: 12em;
  }
}

.weeklyview__bodycell {
  user-select: none;
  border-right: 1px solid lightgray;
}

.weeklyview__bodycell_firstrow {
  border-top: 1px solid lightgray;
}

.weeklyview__bodycell_firstcol {
  border-left: 1px solid lightgray;
}

.weeklyview__bodycell_oddrow {
  border-bottom: 1px solid lightgray;
}

.weeklyview__bodycell:hover {
  cursor: pointer;
  border: 2px dashed black;
}

.weeklyview-grid {
  text-align: right;
}

.weeklyview-grid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weeklyview__hourcell {
  padding-right: 0.5em;
}

.weeklyview__colheadercell {
  align-items: center;
}

.weeklyview-grid__monthtext {
  grid-area: m;
  text-align: left;
  font-size: 1.4em;
  height: 2em;
  margin-bottom: 1em;
}

.respondents-container {
  margin-top: 4em;
  margin-left: 2em;
  min-width: 10em;
}

.respondents-container ul {
  margin: 0;
  padding: 0;
}

.respondents-container li {
  list-style-type: none;
  margin: 1em 0;
}

.respondents-container li.unavailable {
  color: lightgray;
  text-decoration: line-through;
}

.respondents-container li:hover {
  color: forestgreen;
  cursor: pointer;
}
