.saveTimesModal--content > div:not(:first-child) {
  margin-top: 2em;
}

.already-have-account {
  font-size: 0.9em;
}

.already-have-account:hover {
  color: var(--custom-primary);
  cursor: pointer;
}
