.create-meeting-form-group {
  margin-top: 4rem;
}

.edit-meeting .create-meeting-form-group {
  margin-top: 3rem;
}

.create-meeting-question {
  font-size: 1.3em;
}

.create-meeting-button {
  min-width: 8em;
}

.meeting-times-prompt-select {
  width: 6em;
}
