.toast {
  position: fixed;
  bottom: 2em;
  z-index: 1;
  background-color: white;
  font-size: 1.2em;
  padding: 1em 2em;
  border-radius: 8px;
  text-align: center;
  margin-left: calc(-1 * min(10em, 40vw)); /* min-width divided by 2 */
  left: 50%;
  min-width: min(20em, 80vw);
  visibility: hidden;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 2em; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 2em; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
