.toastContainer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  /* horizontally center */
  left: 50%;
  transform: translateX(-50%);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.toast {
  box-sizing: content-box;
  animation: appear 0.5s;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: gray;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  width: fit-content;
  min-width: 10rem;
  max-width: 25rem;
}

.toast.error {
  border-color: red;
}

.toastCloseBtn {
  flex-shrink: 0;
  margin-left: 1.5rem;
  fill: gray;
}

.toastCloseBtn:hover {
  cursor: pointer;
  fill: black;
}

.toastHidden {
  opacity: 0;
  transition: opacity 0.5s;
}
