/* TODO: don't use hard-coded colors (define vars in custom.css) */

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(64, 64, 64, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: absolute;
  border: 1px solid var(--custom-primary);
  border-radius: 10px;
  background-color: white;
  min-height: 80%;
  width: min(80%, 768px);
  padding: 4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

/* media-breakpoint-down(md) */
@media (max-width: 767.98px) {
  .modal {
    width: 90%;
    padding: 2rem 1rem;
  }
}

/* media-breakpoint-down(sm) */
@media (max-width: 575.98px) {
  .modal {
    width: 100%;
    left: 0;
    right: 0;
    border: none;
  }
}
