* {
  box-sizing: border-box;
}

.App-main {
  margin: 2em 15vw;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 2em 10vw;
}

.header-link {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.header-link:not(:first-child) {
  margin-left: 1.5em;
}

.header-link:hover,
.header-link_active {
  color: forestgreen;
}
