.App {
  min-height: 100vh;
}

.header-link {
  text-transform: uppercase;
  text-decoration: none;
  color: initial;
}

/* media-breakpoint-up(md) */
@media (min-width: 768px) {
  /* Need extra selectors for specificity */
  .navbar-nav .nav-link.header-link:not(:first-child) {
    padding-left: 1.5rem;
  }
}

.navbar-nav .nav-link:is(
  .header-link:hover,
  .header-link_active
 ) {
  /* We can't use our CSS variables which we set in .App because the offcanvas
     element isn't inside <App>. Should we store the variables under <body> instead?
   */
  color: forestgreen;
}

.custom-link {
  text-decoration: none;
  color: initial;
}

.custom-link:hover {
  color: var(--custom-primary);
}

.custom-link.custom-link-inverted {
  color: var(--custom-primary-contrast);
}

.custom-link.custom-link-inverted:hover {
  color: var(--custom-primary-contrast);
}

footer {
  padding: 2rem 0;
}

footer a {
  margin: 0 1em;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--custom-secondary);
}

footer a:hover {
  color: var(--custom-secondary-strong);
}

.form-text-input {
  padding-bottom: 0.75rem;
}

body.modal-open {
  overflow: hidden;
}
