.meeting-container {
  flex-grow: 1;
}

/* media-breakpoint-up(md) */
@media (min-width: 768px) {
  .meeting-avl-button {
    min-width: 8em;
  }
}

/* media-breakpoint-up(lg) */
@media (min-width: 992px) {
  .meeting-avl-button {
    min-width: 10em;
  }
}

.weeklyview__bodycell {
  user-select: none;
  border-right: 1px solid lightgray;
  text-align: left;
}

.weeklyview__bodycell_firstrow {
  border-top: 1px solid lightgray;
}

.weeklyview__bodycell_firstcol {
  border-left: 1px solid lightgray;
}

.weeklyview__bodycell_oddrow {
  border-bottom: 1px solid lightgray;
}

.weeklyview__bodycell:hover {
  cursor: pointer;
  border: 2px dashed black;
}

.weeklyview__bodycell_scheduled_inner {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  color: white;
  background-color: var(--custom-scheduled-cell-color);
}

.weeklyview__bodycell_external_event {
  width: 100%;
  /* TODO: choose a text color with good contrast */
  background-color: rgba(var(--custom-scheduled-cell-rgb), 70%);
}

.weeklyview__bodycell_scheduled_inner,
.weeklyview__bodycell_external_event {
  height: 100%;
  overflow: hidden;
  padding-left: 0.7em;
  font-size: 0.7em;
  display: flex;
  align-items: center;
}

/* media-breakpoint-up(lg) */
@media (min-width: 992px) {
  .weeklyview__bodycell_scheduled_inner {
    font-size: 0.8em;
  }
}

.weeklyview-grid {
  text-align: right;
}

.weeklyview__hourcell {
  padding-right: 0.5em;
  font-size: 0.9em;
}

.weeklyview__colheadercell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weeklyview-grid__monthtext {
  grid-area: m;
  text-align: left;
  font-size: 1.2em;
  height: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.respondents-container {
  margin-top: 4em;
  margin-left: 1em;
  min-width: 10em;
}

.respondents-container ul {
  margin: 0;
  padding: 0;
}

.respondents-container li {
  list-style-type: none;
  margin: 1em 0;
}

.respondents-container li.unavailable {
  color: lightgray;
  text-decoration: line-through;
}

.respondents-container li:hover {
  color: forestgreen;
  cursor: pointer;
}
